<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.104.21" targetFramework="net471" />
  <package id="AWSSDK.ForecastQueryService" version="3.3.100.63" targetFramework="net471" />
  <package id="AWSSDK.ForecastService" version="3.3.101.25" targetFramework="net471" />
  <package id="AWSSDK.S3" version="3.3.110.19" targetFramework="net471" />
</packages>